<h1> this is a header I put up </h1>

<form id="new-article">
  <input type='text' placeholder='Article title' name='title'/>
  <input type='text' placeholder='Article body' name='body'/>
  <input type='submit' value='Create an Article'/>
</form>

<button id="get-articles">Get Articles</button>

<ul id="articles">
</ul>

